[submodule "libs/statsi"]
	path = libs/statsi
	url = https://github.com/3urdparty/statsi
[submodule "libs/strfmt"]
	path = libs/strfmt
	url = https://github.com/3urdparty/strfmt
[submodule "libs/terminalcancer"]
	path = libs/terminalcancer
	url = https://github.com/3urdparty/terminalcancer
